body{
    margin: 0;
    text-align: center;
}

ul li{
    font-size: 1.1rem;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 3px;

}

.Navbar_container {
    background-color: #ff4c68;
    /* height: 700px; */
    overflow: hidden;
}
.Navbar____{
    padding-bottom: 4rem;
}
.Navbar_BrandName {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.Navbar_link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}
.Home_Content_h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    
}

.Home_image{
    padding-top: 70px;
    transform: rotate(25deg);
}
.download_btn{
    padding-top: 40px;
}


@media (max-width:992px) {
    /* #Navbar_container{
        text-align: center;
    }
    col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .Home_Content_h1{
        font-family: "Montserrat";
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.5;

        
    } */

    .Home_image{
        transform: rotate(0);
        position: relative;
        height: 450px;
 
     }
     .Home_image img{
         position: absolute;
         left: 38%;
         width:25%;
     }

    }
    @media (max-width:569px) {
        /* #Navbar_container{
            text-align: center;
        }
        col-lg-6{
            flex: 0 0 auto;
            width: 50%;
        }
        .Home_Content_h1{
            font-family: "Montserrat";
            font-size: 2rem;
            font-weight: 900;
            line-height: 1.5;
            
        } */
    
        .Home_image{
           transform: rotate(0);
           position: relative;
           /* height: 400px; */
    
        }
        .Home_image img{
            position: absolute;
            left: 35%;
            width:25%;
        }
    
        }


.About_Page h3{
     font-size:32px ;
     font-weight: 900;
     padding: 20px;
}
.About_Page p{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}
.About_Page .About_Page_Icon{
    color: #ef8172;
}
.About_Page .About_Page_Icon:hover{
    color: #ff4c68;
}

.testimonials{
    background-color: #ef8172;
}
.carousel-item {
    padding: 5% 15%;
}

.testimonial-text {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;
    text-align: center;
    /* margin-top: 100px; */
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.brands{
    background-color: #ef8172;
}
.brands img{

}
.brands .brands-logo {
    width: 15%;
    margin: 20px 20px 15px;
}
.pricing_heading {
    font-size: 3rem;
    line-height: 1.5;
    color: black;
    font-weight: bold;
}
.pricing_heading_2{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;

}
.footer_icons{
    color: #ef8172;
}
.about-us{
    background-color: #ff4c68;
}